.projects {
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
    min-height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    h2 {
        margin: 5rem;
    }
}

.projects > div {
    flex: 1 1 40rem;
    img {
        width: 88%;
        height: 450px;
        object-fit: cover;
    }
}